<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Request</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/admin-request.css">
    </head>
    <body>
        <header>
            <h1>CANTEEN FOOD RESERVATION</h1>
            <a href="#"><img src="image/bell.png" alt="logo" id="notif"></a>
        </header>
        <nav>
            <a href="admin-menu.html" class ="menu"><img src="image/Menu.png">MENU</a>
            <a href="admin-orderlist.html" class="orderlist"><img src="image/Order.png">ORDERLIST</a>
            <a href="admin-request.html" class="request"><img src="image/Change Select.png">REQUEST</a>
            <a href="login.html" class="logout" id="logout"><img src="image/Logout.png">LOGOUT</a>
        </nav>
        <main>
            <div id="request-top">
                <p>Requests</p>
                <p>Accept/Deny</p>
            </div>
            <div id="notification" style="display:none">

            </div>
        </main>
        
        <script src="js/admin-request.js" async defer></script>
    </body>
</html>