<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Menu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/admin-menu.css' %}">

    </head>
    <body>
        <header>
            <h1>CANTEEN FOOD RESERVATION</h1>
            <a href="#"><img src="{% static 'image/bell.png' %}" alt="logo" id="notif"></a>
        </header>
        <nav>
            <a href="{% url 'admin-menu' %}" class ="menu"><img src="{% static 'image/Menu Selected.png' %}">MENU</a>
            <a href="{% url 'admin-orderlist' %}" class="orderlist"><img src="{% static 'image/Order.png' %}">ORDERLIST</a>
            <a href="{% url 'admin-request' %}" class="request"><img src="{% static 'image/Change.png' %}">REQUEST</a>
            <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>            
        </nav>
        <main id="main">
            <a href="{% url 'addfooditem' %}"><button id="add-menu">+ Menu</button></a>
            <div id="notification" style="display:none">
            </div>
            <div id="menu">
                {% for fooditem in fooditems %}
                <form action="{% url 'toggle-availability' fooditem.id %}" method="POST">
                    {% csrf_token %}
                    <img src="{{ fooditem.image.url }}" id="imageclick">
                    <div id="blueP">
                        <td><a href="{% url 'adminfooditem' fooditem.id %}">{{ fooditem.Food_Name }}</a><td>
                    </div>
                    <div id="bluebox">
                        <label class="switch">
                            <input type="checkbox" name="availability" {% if fooditem.Food_Availability %}checked{% endif %} onchange="this.form.submit()">
                            <span class="slider round"></span><br>
                        </label>
                        <p>{{ fooditem.Food_Price }}</p>
                    </div>
                </form>
                {% endfor %}
            </div>
        </main>
        <script>
            var newSrc ="{% static 'image/Bell Select.png'%}";
        </script>
        <script src="{% static 'js/admin-menu.js' %}" async defer></script>
    </body>
</html>
