<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Request</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/admin-request.css' %}">
</head>
<body>
    <header>
        <h1>CANTEEN FOOD RESERVATION</h1>
        <a href="#"><img src="{% static 'image/bell.png' %}" alt="logo" id="notif"></a>
    </header>
    <nav>
        <a href="{% url 'admin-menu' %}" class ="menu"><img src="{% static 'image/Menu.png' %}">MENU</a>
        <a href="{% url 'admin-orderlist' %}" class="orderlist"><img src="{% static 'image/Order.png' %}">ORDERLIST</a>
        <a href="{% url 'admin-request' %}" class="request"><img src="{% static 'image/Change Select.png' %}">REQUEST</a>
        <a href="{% url 'worker_register' %}" class="canteen"><img src="{% static 'image/canteen.png' %}">CANTEEN REGISTER</a>
        <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
    </nav>
    <main>
        <div>
        <table id="request-top">
            <th class="th1">Requests</th>
            <th class="th2">Accept/Deny</th>
            <tr>
            {% for request in requests %} 
            <td class="requestTitle"><a href="{% url 'request_details' request.id %}">{{ request.Request_Title }}</a><td>
                <td class="requestForm">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <!-- Button for 'accept' action -->
                    <button type="submit" name="action" value="accept">Accept</button>

                    <!-- Button for 'deny' action -->
                    <button type="submit" name="action" value="deny">Deny</button>
                </form>
            </td>
            </tr>
            {% endfor %}
        </table>
        <div id="notification" style="display:none">

        </div>
    </main>
    <script>
        var newSrc ="{% static 'image/Bell Select.png'%}";
    </script>
    <script src="{% static 'js/admin-request.js' %}" async defer></script>
</body>
</html>
