<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/admin-orderlist.css' %}">
</head>
<body>
    <header>
        <h1>CANTEEN FOOD RESERVATION</h1>
        <a href="#"><img src="{% static 'image/bell.png' %}" alt="logo" id="notif"></a>
    </header>
    <nav>
        <a href="admin-menu" class ="menu"><img src="{% static 'image/Menu.png' %}">MENU</a>
        <a href="admin-orderlist" class="orderlist"><img src="{% static 'image/Order Select.png' %}">ORDERLIST</a>
        <a href="admin-request" class="request"><img src="{% static 'image/Change.png' %}">REQUEST</a>
        <a href="logout" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
    </nav>
    <main>
        <div>
        <table id="order-top">
            <th class="th1">Order ID</th>
            <th class="th2">Food Items</th>
            <th class="th3">Status</th>
        <tr>
            {% if orders_data %}    
            {% for order_data in orders_data %}
            <td class="orderID"><strong>{{ order_data.order_id }}</strong></td>
            <td class="orderList">
                <ul>
                    {% for item in order_data.order_items %}
                        <li>
                            <strong>Food Item: {{ item.food_item_name }}</strong>
                            <strong>Quantity: {{ item.quantity }}</strong>
                            <strong>Total Price: {{ item.total_price }}</strong>
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td class="orderStatus">{{ order.Order_Status }}</td>
        </tr>
        {% endfor %}
        {% else %}
            <p>No orders available.</p>
        {% endif %}
        </table>
    </div>
        <div id="notification" style="display:none">

        </div>
    </main>
    <script>
        var newSrc ="{% static 'image/Bell Select.png'%}";
    </script>
    <script src="{% static 'js/admin-orderlist.js' %}" async defer></script>
</body>
</html>
