<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Canteen Request</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/canteen-request.css' %}">
</head>
<body>
<header>
    <h1>CANTEEN FOOD RESERVATION</h1>
    <a href="#"><img src="{% static 'image/bell.png' %}" alt="logo" id="notif"></a>
</header>
<nav>
    <a href="{% url 'canteen-orderlist' %}" class="orderlist"><img src="{% static 'image/Order.png' %}">ORDERLIST</a>
    <a href="{% url 'canteen-request' %}" class="request"><img src="{% static 'image/Change Select.png' %}">REQUEST</a>
    <a href="{% url 'canteen-qrcode' %}" class="qrcode"><img src="{% static 'image/Qr Code.png' %}"><br>QR-CODE SCAN</a>
    <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
</nav>
<main>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="id_Student_Name">Student Name:</label>
            {{ form.Request_Title }}
        </div>
        <div>
            <label for="id_Student_Name">Student Name:</label>
            {{ form.RequestFood_Name }}
        </div>
        <div>
            <label>Student Gender:</label>
            {{ form.RequestFood_Price }}
        </div>
        <div>
            <label>Student Race:</label>
            {{ form.RequestIngredient_List }}
        </div>
        <div>
            <label>Student Grade:</label>
            {{ form.RequestFood_Description }}
        </div>
        <input type="reset" value="Cancel" id="cancel">
        <input type="submit" value="ADD" id="adder">
    </form>
    <div id="notification" style="display:none"></div>
</main>

<script src="{% static 'js/canteen-request.js' %}" async defer></script>
</body>
</html>
