<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    <header>
        <h1>CART</h1>
        <a href="{% url 'cart' student_id=student_id %}"><img src="{% static 'image/cart.png' %}" alt="logo"></a>
    </header>
    <nav>
        <a href="{% url 'user-profile' %}" class="home"><img src="{% static 'image/Home Page.png' %}">HOME</a>
        <a href="{% url 'user-menu' student_id=student_id %}" class="menu"><img src="{% static 'image/Menu Selected.png' %}">MENU</a>
        <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
    </nav>
    <main>
        <div id="top-cart">
            <p>ITEMS</p>
            <p>PRICE</p>
            <p>QTY</p>
            <p>SUBTOTAL</p>
        </div>
        <div id="cart-items">
            <table style="display: flex; justify-content: center;">
                {% for item_data in cart_data %}
                <tr>
                    <td>{{ item_data.name }}</td>
                    <td>
                        <form method="post" action="{% url 'increase_cart_item_quantity' cart_item_id=item_data.id %}">
                            {% csrf_token %}
                            <button type="submit">+</button>
                        </form>
                        <span>{{ item_data.quantity }}</span>
                        <form method="post" action="{% url 'decrease_cart_item_quantity' cart_item_id=item_data.id %}">
                            {% csrf_token %}
                            <button type="submit">-</button>
                        </form>
                    </td>
                    <td>{{ item_data.total_price }}</td>
                    <td>{{ item_data.id }}</td>
                    <td>
                        <form method="post" action="{% url 'remove_cart_item' cart_item_id=item_data.id %}">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="bottom-cart">
            <button id="cart-cancel">CANCEL ORDER</button>
            <p>TOTAL: {{ cart_total_price }}</p>
            <a href="{% url 'checkout' cart.id %}"><button id="cart-checkout">CHECKOUT</button></a>
        </div>
    </main>
    
    <script src="{% static 'js/cart.js' %}" async defer></script>
</body>
</html>
