{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/user-menu.css' %}">
</head>
<body>
<header>
    <h1>CANTEEN FOOD RESERVATION</h1>
    <a href="{% url 'cart' student_id=current_student.id %}"><img src="{% static 'image/cart.png' %}" alt="logo"></a>
</header>
<nav>
    <a href="{% url 'user-profile' %}" class="home"><img src="{% static 'image/Home Page.png' %}">HOME</a>
    <a href="{% url 'user-menu' student_id=current_student.id %}" class ="menu"><img src="{% static 'image/Menu Selected.png' %}">MENU</a>
    <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
</nav>
<main>
    <div id="userMenu"></div>
    {% for fooditem in fooditems %}
    <div style="display: flex; justify-content: center;">
        <h5><a href="{% url 'fooditem' pk=fooditem.id student_id=current_student.id %}">{{ fooditem.Food_Name }}</a></h5>
        
    </div>
    {% endfor %}
</main>

<script src="{% static 'js/user-menu.js' %}" async defer></script>
</body>
</html>
