<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
</head>
<body>
    <header>
        <h1>CART</h1>
        <a href="{% url 'cart' student_id=cart.student.id %}"><img src="{% static 'image/Cart Selected.png' %}" alt="logo"></a>
    </header>
    <nav>
        <a href="{% url 'user-profile' %}" class="home"><img src="{% static 'image/Home Page.png' %}">HOME</a>
        <a href="{% url 'user-menu' student_id=cart.student.id %}" class="menu"><img src="{% static 'image/Menu.png' %}">MENU</a>
        <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
    </nav>
        <main>
            <div id="bottom-cart">
                <a href="{% url 'cart' student_id=cart.student.id %}"><button id="cart-back">BACK</button></a>
                <p>TOTAL: {{ total_price }}</p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            {% for item_data in cart_data %}
            <tr>
                <td>{{ item_data.name }}</td>
                <td>{{ item_data.quantity }}</td>
                <td>{{ item_data.total_price }}</td>
                <td>{{ item_data.id }}</td>
            </tr>
        </div>
        {% endfor %}
        </main>
        
        <div id="paypal-button-container"></div>
        <script src="https://www.paypal.com/sdk/js?client-id=ATNI-7Vrb0LcOVA5Kiij2FUrDghuevkKaQ62L32GyQ7dLVvd8cb7VN9chKsQpQfqWZXV4hUpa8aAwW3B&currency=MYR"></script>

        <script>
            function placeOrder(){
                var url = "{% url 'place_order' cart_id=cart.id %}"
    
                // Redirect to the menu
                window.location.href = "{% url 'user-menu' student_id=cart.student.id %}";
            }
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({
                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{ total_price }}'
                            }
                        }]
                    });
                },
                // Finalize the transaction
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) 
                        {
    
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    // Call the create_order function via AJAX
                    fetch('/place_order/{{ cart.id }}/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),  // Ensure you have a function to retrieve the CSRF token
                            'Content-Type': 'application/json',
                        },
                        credentials: 'same-origin',
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Check if the order was successfully created
                            if (data.success) {
                                // Redirect to the "menu" page
                                window.location.href = '/menu/' + data.student_id;
                            } else {
                                console.error('Error placing order:', data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Error placing order:', error);
                        });
                    });
                }
            }).render('#paypal-button-container');
    
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
        </script>
                
    </body>
</html>
