{% extends 'main.html' %}
{% block content %}


    <h1>Home</h1>

    <div>
        <div>
            <h1>{{ user.id }} - {{ user.username }}</h1>
            {% for student in students %}
            <tr>
                <td><a href="{% url 'menu' student.id %}">{{student.Student_Name}}</a></td>
                <td>{{ student.Student_Gender }}</td>
                <td>{{ student.Student_Race }}</td>
                <td>{{ student.Student_Grade }}</td>
                <a href="{% url 'editstudent' student.id %}">Edit</a>
            </tr>
        {% endfor %}
            <a href="{% url 'student' %}">add student</a>
            <a href="{% url 'menu_without_student' %}">menu</a>
        </div>
    </div>


{% endblock %}
