<!DOCTYPE html>
{% block content %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body>
      <header>
        <h1>CANTEEN FOOD RESERVATION</h1>
      </header>   
          <h2>Login</h2>
          <form action="" method="POST" class="textbox">
            {% csrf_token %}
            <input type="text" id="lusername" name="lusername" placeholder="USERNAME....."
            title="Incorrect Username" required>
            
            <input type="password" id="lpassword" name="lpassword" placeholder="PASSWORD....."
            title="Incorrect Password" required>
            <br>
            <input type="submit" value="Login"> 

          </form>
          <div class= "textlink">
            <a href="{% url 'reset_password' %}" class = "forget-password">Forget Password</a>
            <a href="{% url 'register' %}" class = "sign-up">Sign Up</a>
          </div>
      </div>
      <div class ="errorMessage">

        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li></li>{{ message }}</li>
        {% endfor %}
  
        </ul>
        {% endif %}

      </div>
        <script src="{% static 'js/login.js' %}" async defer></script>
    </body>
</html>
{% endblock content %}