<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/password-reset-form.css' %}">
    </head>
    <body>
        <header>
            <h1>CANTEEN FOOD RESERVATION</h1>
          </header>   
          <div class="container">
              <h2>Enter New Password</h2>
              <p>Please enter new password twice to verify</p>
            <div class="form-container">
                <form  method="POST">
                    {% csrf_token %}
                    {{form}}
                   <input type="submit" value="Send Email">
                </form>
            </div>
            </div>
        
        <script src="" async defer></script>
    </body>
</html>