
{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Email:</label>
        <input type="username" name="username" placeholder="USERNAME......"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="PASSWORD......"/>
        <input type="submit" value="Login" />
    </form>

    <body>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li></li>{{ message }}</li>
        {% endfor %}

        </ul>
        {% endif %}

            <p>register</p>
            <a href="{%url 'register'%}">register</a>
        

    </body>

</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <!--
        <label>Username:</label>
        <input type="username" placeholder="USERNAME......"/>

        <label>Email:</label>
        <input type="email" placeholder="EMAIL......"/>

        <label>Phone Number:</label>
        <input type="phone_number" placeholder="PHONE NUMBER......"/>

        <label>Password:</label>
        <input type="password1" placeholder="PASSWORD......"/>

        <label>CONFIRM Password:</label>
        <input type="password2" placeholder="CONFIRM PASSWORD......"/>
    -->
        <input type="submit" value="Register" />
    
    </form>

    <p>login</p>
    <a href="{%url 'login'%}">Login</a>

    <body>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li></li>{{ message }}</li>
        {% endfor %}
        {% endif %}
        </ul>

    </body>

</div>

{% endif %}
{% endblock content %}
