
{% block content %}
{% load static %}
<title>Edit Student</title>
<link rel="stylesheet" href="{% static 'css/student.css' %}">
<header>
    <h1>CANTEEN FOOD RESERVATION</h1>
</header>

<main>
<body>
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Done" />
</form>


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li></li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    </ul>
    <div style="text-align: center;">
    <a href="{% url 'user-profile' %}">Back</a>
    </div>
</body>
</main>
{% endblock content %}
