<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/user-menu.css">
    </head>
    <body>
        <header>
            <h1>CANTEEN FOOD RESERVATION</h1>
            <a href=""><img src="image/cart.png" alt="logo"></a>
        </header>
        <nav>
            <a href="user-profile.html" class="home"><img src="image/Home Page.png">HOME</a>
            <a href="user-menu.html" class ="menu"><img src="image/Menu Selected.png">MENU</a>
            <a href="login.html" class="logout" id="logout"><img src="image/Logout.png">LOGOUT</a>
        </nav>
        <main>
            <div id="userMenu">

            </div>
        </main>
        
        <script src="js/user-menu.js" async defer></script>
    </body>
</html>