{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
</head>
<body>
<header>
    <h1>CANTEEN FOOD RESERVATION</h1>
</header>
<nav>
    <a href="{% url 'user-profile' %}" class="home"><img src="{% static 'image/Home Page Selected.png' %}">HOME</a>
    <a href="{% url 'logout' %}" class="logout" id="logout"><img src="{% static 'image/Logout.png' %}">LOGOUT</a>
</nav>
<main>
    <div class="top-div">
        <a id="profile-link" style="color:#A97C4E">Profile</a>
        <a id="history-link">Order History</a>
    </div>
    <div id="profile-section">
        {% for student in students %}
            {% for cart in carts %}
            {% if student.id == cart.student.id %}
            <table>
                <tr>
                    <td>{{ student.Student_Name }}</td>
                </tr>
                <tr>
                    <td>{{ student.Student_Gender }}</td>
                </tr>
                <tr>
                    <td>{{ student.Student_Race }}</td>
                </tr>
                <tr>
                    <td>{{ student.Student_Grade }}</td>
                </tr>
                <tr>
                    <td>
                        <button id="menuButton">Menu</button>
                        <button id="editButton">Edit</button>
                    </td>
                </tr>
            </table>
            {% endif %}
            {% endfor %}
        {% endfor %}
        <div id="display-form">
        </div>
        <div id="form-div" style="display:none">
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <label for="id_Student_Name">Student Name:</label>
                    {{ form.Student_Name }}
                </div>
                <div>
                    <label>Student Gender:</label>
                    {{ form.Student_Gender }}
                </div>
                <div>
                    <label>Student Race:</label>
                    {{ form.Student_Race }}
                </div>
                <div>
                    <label>Student Grade:</label>
                    {{ form.Student_Grade }}
                </div>
                <input type="reset" value="Cancel" id="cancel">
                <input type="submit" value="ADD" id="adder">
            </form>
            
        </div>
        <div id="data-container"></div>
        <button id="add">add student</button>
    </div>
    <div id="history-section" style="display: none;">
        <div id="history-head">
            <p>Order ID</p>
            <p>Food Items</p>
            <p>Statues</p>
            <p>QR Code</p>
            
        </div>
        {% if order_items_by_order %}
            {% for order, order_items in order_items_by_order.items %}
                <div>
                    <h2>Order ID: {{ order.id }}</h2>
                    <p>Order Status: {{ order.Order_Status }}</p>
                    <p>Total Price: ${{ order.order_total_price }}</p>
    
                    {% if order_items %}
                        <ul>
                            {% for order_item in order_items %}
                                <li>
                                    Food Name: {{ order_item.order_item.Food_Name }}<br>
                                    Quantity: {{ order_item.orderitem_quantity }}<br>
                                    Item Total Price: ${{ order_item.order_item_total_price }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No order items found for this order.</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No orders found for these students.</p>
        {% endif %}
    </div>
</main>

<script src="{% static 'js/user-profile.js' %}" async defer></script>
</body>
</html>
