<!-- templates/order_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
    <h1>Order List</h1>

    {% if orders_data %}
        <ul>
            {% for order_data in orders_data %}
        <div>
            <p><strong>Order ID:</strong> {{ order_data.order_id }}</p>
            <p><strong>Total Price:</strong> {{ order_data.total_price }}</p>

            <h2>Order Items</h2>
            <ul>
                {% for item in order_data.order_items %}
                    <li>
                        <p><strong>Food Item:</strong> {{ item.food_item_name }}</p>
                        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                        <p><strong>Total Price:</strong> {{ item.total_price }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    {% endfor %}
        </ul>
    {% else %}
        <p>No orders available.</p>
    {% endif %}
</body>
</html>