<!-- templates/worker_login.html -->
{% block content %}
{% load static %}
<!DOCTYPE html>

<title>Worker Register</title>
<link rel="stylesheet" href="{% static 'css/worker-register.css' %}">
<header>
    <h1>CANTEEN FOOD RESERVATION</h1>
</header>

<body>
<main>
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Submit" />
</form>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li></li>{{ message }}</li>
    {% endfor %}
    {% endif %}
    </ul>
    <div style="text-align: center;">
    <a href="{% url 'admin-menu' %}">Menu</a>
    </div>
</main>
</body>

{% endblock content %}
