nav{
    width: 100px;
    height: 100vh;
    top:0;
    left:0;
    position: fixed;
    float: left;
    background: #263E92;
}

header {
    width: 100%;
    height: 70px;
    background: #263E92;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 3;
}



h1 {
    color: #FFF;
    text-align: left;
    position: relative;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 200px;
}

header img {
    height: 50px;
    width: 50px;
    margin-right: 100px; 
}

nav {
    display: flex;
    flex-direction: column;

}

.logout{
    margin-top: auto;
    text-decoration: none;
    margin-left: 20px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
}

.qrcode {
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.qrcode img{
    float: center;
    
}

.orderlist{
    text-decoration: none;
    margin-top: 70px;
    margin-left: 5px;
    color: #18CDA3;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
}

.orderlist img{
    float: center;
    margin-left: 15px;
}

.request{
    text-decoration: none;
    margin-top: 25px;
    margin-left: 10px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
}

.request img{
    float: center;
    margin-left: 10px;
}

main{
    margin-top: 70px;
}

#order-top{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0%;
    left: 90px;
    width: 95.1%;
    height: 5vh;
    border: 1px solid #000;
    justify-content: top;
    font-size: 18px;
    z-index: 1;
    justify-content: space-between; 
    background-color: rgba(175, 229, 233, 0.30);
}

.th1{
    width: 30vw;
    text-align: center;
}

.th2{
    width: 40vw;
    text-align: center;
}

.th3{
    width: 30vw;
    text-align: center;
}

td{
    border-bottom: 1px solid #000;
}

.orderID, .orderStatus{
    justify-self: unset;
    align-items: center;
    text-align: center;
}

#notification{
    position: fixed;
    top: 60px;
    right: 0;
    background: #D9D9D9;
    width: 20%;
    height: 50vh;
}