header{
    background-color: #263E92;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    stroke-width: 1px;
    stroke: #000;
}
h1 {
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    position: relative;
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-weight: bold;
}

body {
    position: relative;
    display: grid;
    background-color: #A3E8ED;
}

.container{
    position: relative;
    display: grid;
    margin-top: 100px;

}

p {
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #000;
    margin-top: 20px;
}